.picture{
	max-width: calc(33.3333333% - 10px);
	float: left;
}

.picture img{
	border: 2px solid #113e3ea6;
	border-radius: 20px;
	margin-bottom: 20px;
}

.picture img:hover{
	 border: 2px solid red; 
}



