.picture{
	max-width: calc(33.3333333% - 10px);
	float: left;
}

.picture img{
	border: 2px solid orange;
	border-radius: 20px;
	margin-bottom: 20px;
}

.picture img:hover{
	border-radius: 50%;
}

#row1{
	margin-top: 15px;
}

.col1{
	margin-right: 5px;
}

.col2{
	margin: 0px 5px;
}

.col3{
	margin-left: 10px;
}