*{
	box-sizing: border-box;
}

body{
	background-color: #e1f8f9;
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}

h1{
	font-size: 24px;
	margin: 30px 0px 20px 0px;
}

.wrap{
	max-width: 1000px;
	margin:auto;
}


#main-menu{
	height: 40px;
	background-color: white;
}

.menu{
	float: left;
	width: 250px;
	line-height: 40px;
	text-align: center;
}


#main-menu a:hover, #main-menu a.active{
	color: black;
	font-weight: bold;
}

#main-menu a{
	background-color: white;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: gray;
}






 


