* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333333;
    overflow: scroll;
    position: relative;
}

h1 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 37px;
    letter-spacing: 21px;
    font-size: 50px;
    text-shadow: 5px 2px 2px #acacac;
}


p {
    margin: 0 0 15px 0;
}


/*menu*/

#menu {
    margin: 0px 0px 30px 0px;
    
}

#menu ul{
    list-style-type: none;
    background-color: #535356;
    text-align: center;
}

#menu ul li{
    color: white;
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;

}
#menu a{
    color: white;
    text-decoration: none;
    display: block;
    font-family: 'Actor', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#menu a:hover{
    background: white;
    color: black;
}
#menu a:hover,  {
    font-weight: bold;
}

#menu a.active {
    color: red;
}

#wrap {
    max-width: 1000px;
    margin: auto;
}

/*back to top*/
#back-to-top {
    width: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}



