* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
 	width: 100%;
 	height: 100%;
 	font-family: 'Montserrat', sans-serif !important;
 	font-size: 14px !important;
 	color: #1c1b1b !important;
 	background-color: #efefef !important;
 }

a {
	color: #1c1b1b !important;
}

a:hover {
	text-decoration: none !important;
}

p {
	line-height: 27px;
	letter-spacing: 0.05em;
	
}


h1 {
	font-size: 28px !important;
	letter-spacing: 0.05em;
	font-weight: 600 !important;
}

h2 {
	font-size: 20px !important;
	line-height: 24px !important;
	letter-spacing: 0.05em;
}

h3 {
	font-size: 16px !important;
	line-height: 24px !important;
	letter-spacing: 0.05em !important;

}

h4 {
	font-size: 18px !important;
	line-height: 22px !important;
	letter-spacing: 0.05em !important;
}

h5 {
	font-size: 26px !important;
	line-height: 32px !important;
	letter-spacing: 0.1em;
}

.justify-text {
	text-align: justify;
  	text-justify: inter-word;
}

.font-weight-600 {
	font-weight: 600 !important;
}


.container-fluid {
	padding-right: 50px !important;
    padding-left: 50px !important;
}

.margin-top {
	margin-top: 4%;
}

.section-padding {
	padding: 60px 0px 0px 0px;
}

hr {
	margin-top: 3.5rem !important;
    margin-bottom: 0rem !important;
}


.red {
	color: #B63327;
}

.clear-float {
	clear: both;
}


.product-code {
	color: #767373 !important;
	margin-bottom: 1rem;
}

.width-800 {
	max-width: 800px;
	margin: auto;
}

/*Card*/

.product-card {
	background: none !important;
	border: 0 !important;
}	

.card-img-top {
	width: 85% !important;
	margin-bottom: 1rem;
	transition: all 0.3s linear;
}

.card-body {
	text-align: center;
}


.product-card:hover .card-img-top {
	transform: scale(1.1);
}



/*Top*/
.top {
	background-color: #151515;
	height: 40px;
}

.top.navbar {
	padding: 0 !important;
}

.top .nav-item {
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 0.05em;
}

.top span {
	margin-right: 10px;
}

.top a:hover {
	text-decoration: none;
}

.top input {
	background: none;
	border: 0 !important;
    border-bottom: 1px solid #ffffff !important;
}
/*Top*/


/*Main-menu*/
.navbar-expand-md .navbar-nav .nav-link {
	padding: 0 !important;
}

.main-menu {
	background-color: #ffffff;
	border-bottom: 1px solid #e1e1e1;
}

.main-menu .navbar {
	padding: 0 !important;
}

.main-menu li.nav-item {
	height: 4rem;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.09em;
}

.main-menu li.nav-item:hover {
	border-bottom: 2px solid #1c1b1b;
}

.menu-active {
	border-bottom: 2px solid #1c1b1b;
}

.navbar-brand {
	margin-right: 0 !important;
}

.navbar-brand img {
	width: 85px;
}

.navbar li a {
	color: #1c1b1b;
}

.logo {
	padding-left: 1rem;
}
/*Main-menu*/



/*SUB-MENU*/
.sub-menu {
	list-style-type: none;
	display: none;
	position: absolute;
	border: 1px solid #e1e1e1;
	background-color: white;
	top: 4rem;
}

.main-menu .nav-item:hover .sub-menu {
	display: block;
	padding: 1rem 0 1rem 0;
}

.main-menu .nav-item:hover .sub-menu li {
	height: 2rem;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
}

.main-menu .nav-item .sub-menu li:hover {
	background: #C4C4C4;

}



/*BUTTON*/

.btn {
	border-radius: 0px !important;
}

.dark-btn {
	color: #ffffff !important; 
	background-color: #1c1b1b !important;
	transition: all 0.3s linear !important;
	
}

.dark-btn:hover {
	background: none!important;
	color: #1c1b1b !important;
	border: 1px solid #1c1b1b !important;
}

.light-btn {
	background: #ffffff !important;
	color: #1c1b1b !important;
	transition: all 0.3s linear !important;
}

.light-btn:hover {
	background: none !important;
	border: 1px solid #ffffff !important;
	color: #ffffff !important
}

.bg-none-btn {
	border: 1px solid #1c1b1b !important;
	color: #1c1b1b !important;
	transition: all 0.3s linear !important;
}

.bg-none-btn:hover {
	background: #1c1b1b !important;
	color: #ffffff !important;
}

.size-btn-13 {
	width: 13rem !important;
}

.read-more {
	width: fit-content;
	border-bottom: 1px solid #1c1b1b;
	margin: auto;
	font-weight: bold;
}

/*Blog - search */
.blog-search {
	padding: 10% 8% 10% 8%;
}


.background-white-shadow {
	background-color: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.blog-search input {
	height: 2.3rem;
	border: 1px solid #9B9D9D;
    border-radius: 5px;
   	width: 100%;
   	padding-left: 15px;
}

.search-input {
	width: 100%;
    padding-right: 9%;
}

.search-btn {
	width: 2.3rem;
    height: 2.3rem;
    border: 1px solid #9B9D9D;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-search li {
	list-style-type: none;
	margin-bottom: 10px;
}


.mt-search {
	margin-top: 10% !important;
}


/*Sort-menu*/
.sort-menu {
	border-top: 1px solid #AEAEAE;
	border-bottom: 1px solid #AEAEAE;
}

.sort-menu li {
	margin-right: 2rem;
}


/*PAGE NUMBER*/
.page-number {
	width: fit-content;
}

.btn-group .btn-page {
	color: #767373;
	border: 1px solid #767373;
	margin: 0px 20px 0px 20px;
	width: 2.35rem;
	transition: all 0.5s linear;
}

.btn-group .btn-page:hover {
	color: #ffffff;
	background-color: #1c1b1b;
}

.btn-group .active {
	color: #ffffff;
	background-color: #1c1b1b;
}


/*TAB ĐÒNG HỒ NAM - ĐỒNG HỒ NỮ*/

.nav-pills .nav-link.active {
    color: #1c1b1b !important;
    background-color: #efefef !important;
    border-bottom: 1px solid #1c1b1b !important;
}

.nav-pills .nav-link {
    border-radius: 0px !important;
    margin: 0rem 2rem;
    padding: 0.5rem 0rem !important;
}

.nav-pills a {
	color: #1c1b1b !important;
}

.tab-left {
	border-right: 1px solid #1c1b1b;
}


/*FOOTER*/

footer {
	background-color: #ffffff;
}

footer ul li {
	list-style-type: none;
}

footer h4 {
	font-weight: 600;
}





