.blog-top {
	position: relative;
	overflow: hidden;

}

.title-blog-top {
	position: absolute;
	bottom: 9%;
	left: 6%;
}


.blog-top img {
	width: 100%;
	transition: all 1s linear;
	height: 27rem;
}

.card-img-top {
	width: 100% !important;
}

.list-blog .card, .blog-search {
	width: 95%;
}

.card-body {
	text-align: left !important;
}


/*Search*/







