.about-us h2 {
	margin-bottom: 0 !important;
	font-weight: 600;
}

.about-us img {
	max-width: 100%;
}

@media only screen and (max-width: 768px) {
	.width-800 {
    	max-width: 42.5rem;
	}
}


@media only screen and (max-width: 576px) {
	.width-800 {
    	padding-right: 1.5rem;
    	padding-left: 1.5rem;
	}

	p {
		margin-bottom: 0 !important;
	}

	.p-end {
		margin-bottom: 2rem !important;
	}
}


