/*Receipt*/

.receipt {
	background: #FFFFFF;
	width: 100%;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.head-receipt {
	background: #C4C4C4;
	height: 3rem;
}

.receipt td {
	height: 11rem;
}

.border-right {
	border-right: 1px solid #D8DAD9;
}

.quantity button, .quantity input {
	width: 1.5rem;
    height: 1.5rem;
    color: #1c1b1b;
    text-align: center;
}

.product-remove button {
	border: none;
	background: none;
	color: #ABA8A8;
}

.btn-cart {
	background: #FFFFFF;
    border: 1px solid #474644;
    color: #474644;
    font-size: 12px;
    padding: 0.4rem 2rem 0.4rem 2rem;
    transition: all 0.3s linear;
}

.btn-cart:hover {
	background: #474644;
	color: #FFFFFF;
}

.receipt-total {
	padding-right: 6% !important;
}

/*Customer information*/

.list-info {
	width: 8rem;
}

.row-info {
	height: 3rem;
	display: flex;
	align-items: center;
}

.row-info input, .promotion-code input {
	height: 2rem;
	width: 22rem;
	background: none;
	border: 1px solid #807E7E;
	border-radius: 5px;
	padding: 0rem 0.5rem 0rem 0.5rem;
}

.promotion-code button {
	border-radius: 5px;
}

.btn-pay {
	padding-left: 31%;
    padding-right: 31%;
    margin-top: 1rem;
}

.btn-pay button {
	border-radius: 5px;
	color: #FFFFFF;
	background: #474644;
}

.btn-pay button:hover {
	background:#FFFFFF;
	color: #474644;
	border: 1px solid #474644;
}


.receipt-2 {
	display: none;
}


@media only screen and (max-width: 768px) {
	.row-info input, .promotion-code input {
		width: 14rem;
	}

	.btn-pay {
		padding-right: 0;
		padding-left: 29%;
	}
}

@media only screen and (max-width: 576px) {
	.receipt-1 {
		display: none !important;
	}

	.receipt-2 {
		display: block;
	}

	.receipt {
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
		margin-bottom: 2rem;
	}
	
	.head-receipt {
		height: 2.5rem;
	}

	.receipt-price .row {
		margin-left: 0 !important;
		margin-right: 0 !important;
		border: 1px solid #E6E6E6;
    	width: fit-content;
	}
	.receipt-price button, .receipt-price input {
    	width: 1rem;
    	height: 1rem;
    	font-size: 8px;
    	font-weight: bold;
    	border: 0;
	}

	.receipt-price button {
		background: none;
	}
	
	td.receipt-price {
		font-size: 11px;
		font-weight: bold;
	}

	.receipt td {
    	height: 9rem;
	}

	.receipt-img {
		width: 25%;
		}

	td.receipt-name {
		font-size: 11px;
    	font-weight: bold;
	}

	td.product-remove {
		width: 10%;
	}

	h1.text-center {
		margin-bottom: 0 !important;
	}

	button.btn-cart {
		font-size: 10px;
		font-weight: 600;
		padding: 0.4rem 1rem 0.4rem 1rem;
		border: 1px solid #C4C4C4;
	}

	.btn-back-product {
		margin-bottom: 1rem;
	}

	.promotion-res td {

	}

	.form-control {
		font-size: 11px !important;
	}

	button.btn-cart {
		border-radius: .25rem;
	}

	.promotion-code, .order-info {
		background-color: #FFFFFF;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
		margin-bottom: 2rem;
	}

	.promotion-title {
		line-height: 2.5rem;
		font-weight: bold;
		text-align: center;
		background: #C4C4C4;
	}

	.promotion-content, .order-info-content {
		width: 90%;
    	margin: auto;
    	padding-top: 1rem;
    	padding-bottom: 1rem;
	}

	.promotion-code input {
		border: 1px solid #C4C4C4;
	}

	.total-price {
		line-height: 2.3rem;
		border: 1px solid #C4C4C4;
	}

	.order-info-title {
		line-height: 2.5rem;
		font-weight: bold;
		text-align: center;
		border-bottom: 1px solid #C4C4C4;
	}

	.btn-pay {
		width: fit-content;
    	margin: auto;
    	padding-left: 0;
    	padding-right: 0;
    	margin-bottom: 2rem;
	}

}