/*Header - Carousel*/
.img-ip {
	display: none;
}
.carousel-indicators li {
	width: 10px !important;
	height: 10px !important;
	border-radius: 50%;
}

.carousel-caption {
    bottom: 14% !important;
    left: 7% !important;
}

.carousel-control-next, .carousel-control-prev {
	width: 9% !important;
}

.carousel-item {
	transition: transform 5s ease-in-out;
}

.carousel-item h5 {
	letter-spacing: 0.11em;
}

.carousel-inner h1 {
	margin-bottom: 3%;
	letter-spacing: 0.1em;
}


/*LUXURY*/
.lux-carousel {
	width: fit-content !important;
	margin: auto;
}

.lux-carousel h2 {
	letter-spacing: 0.14em;
}

.lux-btn{
	width: 100% !important;
}

.main-img-lux {
	margin-right: 80px;
}






/*CUSTOMER'S FEEDBACK*/

.feedback {
	background-color: #ffffff;
}

.feedback .carousel-indicators li {
	background-color: #1c1b1b;
}

.content {
	width: 50%;
    margin: auto;
}


.div-feedback {
	margin-bottom: 4%;
}

.customer-name {
	font-weight: 900;
}

.customer-career {
	font-weight: 600;
	margin-left: 30px;
	color: #b63327;
}





/*VIDEO*/
.video {
	position: relative;
}

.btn-play {
	position: absolute;
	top: 43%;
	left: 47%; 
}

.btn-play > img {
	width: 10%;
	height: 10%;
}

.btn-play img:hover {
	transform: scale(1.2, 1.2);
}

.video img {
	transition: all 0.3s linear;
	width: 100%;
}



/*WHY CHOOSE US*/
.why-icon {
	font-size: 30px;
	color: #b63327;
	padding-top: 20px;
}

.why-card {
	max-width: 18rem;
	margin: auto !important;
	height: 23rem;
}

.card-text {
	height: 12rem;
}

.why-choose {
	max-width: 992px !important;
}


.why-choose p {
	letter-spacing: 0 !important;
}


@media only screen and (max-width: 768px) {

	.carousel-control-next-icon, .carousel-control-prev-icon {
		width: 15px !important;
		height: 15px !important;
	}

	.btn {
		font-size: 12px !important;
	}

	.size-btn-13 {
		width: 9rem !important;
	}

	.main-img-lux {
		display: none;
	}

	.content {
    	width: 63%;
    	height: 5rem;
	}

	.pt-3rem {
		padding-top: 0;
	}

	.btn-play {
	    width: 60px;
	    height: 60px;
	    top: 40%;
	    left: 46%;
	}

	.why-choose {
    	max-width: 730px !important;
	}

	.card-text {
	    padding: 0px 1rem;
	    text-align: justify;
	}
}

@media only screen and (max-width: 576px) {
	.img-crs {
		display: none;
	}

	.img-ip {
		display: block;
	}

	.carousel-caption.text-left {
		text-align: center !important;
	}

	.carousel-caption {
    	bottom: 34% !important;
    	left: 15% !important; 
	}


	.section-padding {
    	padding: 40px 0px 0px 0px;
	}

	.product-card .card-img-top {
    	width: 75% !important;
	}
}


