*{
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}
 
p {
	    font-size: 17px
	    line-height: 25px;
	    color: #222;
	    margin-bottom: 15px;
}

#menu ul li a {
	text-decoration: none;
	color: white;
}

#menu ul li {
	list-style-type: none;
	padding: 10px;
}

#menu ul li:hover a {
	color: red;
}

.wrap {
	width: 100%;
	font-family: font-family: 'PT Serif', serif;
	position: relative;
}

#menu {
	width: 180px;
	height: 693px;
	background-color: #2e2e2e;
	float: left;
	position: fixed;
}

#content {
	max-width: 55%;
	float: left;
	position: absolute;
	top: 0px;
	left: 195px;
}

#button {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 10px;
    right: 10px;
}
