*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: #dad9d9;
}



.table-data {

    background: white;
    margin-top: 40px;
}

.width-limit {
	min-width: 160px;
	position: relative;

}

.asc, .dsc {
	opacity: 0.3;
	position: absolute;
	right: 10px;

}

h1{
	text-align: center;
	margin: 40px 0px 20px 0px;
	font-size: 50px;

}


table {
	width: 100%;
}

table, th, td {
	border-bottom: 1px solid #ddd;
	
}

th, td {
	padding: 10px;
}

th {
	background-color: #4CAF50;
	color: white;
	text-align: left;
}

button {
	width: 50px;
    height: 30px;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

a {
	text-decoration: none;
	color: black;
}

tr:hover{
	background-color: #e2dcdc;
}




